.root{
    -fx-background-color: #283B48;
    -fx-text-fill: #D2D2D2;
}
.context-menu{
    -fx-text-fill: #D2D2D2;
}
.section{
    -fx-background-color: #1D2B35;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
}
.button{
    -fx-background-color: #39556A;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
}
.button:hover{
    -fx-background-color: #496a86;
}