.root {
    -fx-background-color: #283B48;
}

.section {
    -fx-background-color: #1D2B35;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
}

.button {
    -fx-background-color: #39556A;
    -fx-text-fill: #D2D2D2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #496a86;
}

.unified-width-setting-btn {
    -fx-pref-width: 70;
}

.language-btn {
    -fx-pref-width: 50.0;
}

#settingsSectionBtnHolder {
    -fx-max-width: -1;
}

.label {
    -fx-text-fill: #D2D2D2;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area {
    -fx-text-fill: #D2D2D2;
    -fx-font-size: 18;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-radius: 10;
}

#info .content {
    -fx-background-color: #1D2B35;
}

#rule .content {
    -fx-background-color: #39556A;
}

.text-field {
    -fx-text-fill: #D2D2D2;
    -fx-font-size: 18;
    -fx-border-color: #D2D2D2;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #39556A;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 1);
}

#stateSettingContainer {
    -fx-border-color: #D2D2D2;
    -fx-border-width: 2 0 2 0;
    -fx-padding: 5 0 5 0;
}

#startState {
    -fx-max-width: 200;
}

#runtimeControlPanel {
    -fx-background-color: #39556A;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 1;
    -fx-border-color: #D2D2D2;
}

.runtime-control {
    -fx-background-color: #1D2B35;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-min-height: 45.0;
    -fx-min-width: 45.0;
    -fx-pref-height: 45.0;
    -fx-pref-width: 45.0;
}

#makeRuleSectionBigBtn {
    -fx-pref-height: 30.0;
    -fx-pref-width: 40.0;
    -fx-background-radius: 10;
    -fx-underline: false;
    -fx-effect: none;
}

.tape-setting {
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-min-height: 35.0;
    -fx-min-width: 35.0;
    -fx-pref-height: 35.0;
    -fx-pref-width: 35.0;
}

#tapeSettingContainer {
    -fx-border-color: #D2D2D2;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #1D2B35;
}

.tape-container {
    -fx-background-color: #1D2B35;
    -fx-min-height: 190;
}

.head-position-setting .label {
    -fx-padding: 0 5 0 0;
    -fx-font-size: 16;
}

.head-position-setting {
    -fx-padding: 10 0 10 0;
}

.head-position-setting .text-field {
    -fx-font-size: 16;
    -fx-max-width: 48;
}

.link {
    -fx-underline: false;
    -fx-min-width: 38;
    -fx-max-width: 38;
    -fx-effect: none;
}

.link:hover {
    -fx-background-color: #39556A;
    -fx-cursor: default;
}

.head {
    -fx-text-fill: #39556A;
    -fx-underline: false;
    -fx-wrap-text: true;
}

.head:hover {
    -fx-cursor: default;
}

.normal-head {
    -fx-background-color: #D2D2D2;
}

.normal-head:hover {
    -fx-background-color: #D2D2D2;
}

.higher-head {
    -fx-background-color: #D2D2D2;
}

.higher-head:hover {
    -fx-background-color: #D2D2D2;
}
